
/* General visual stuff */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  font-family: "Roboto", sans-serif;
font-weight: 300;
	margin: 0;
	
}

/* Styling the menu for Index.html */

ul {
  list-style-type: none;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 16px;
  color: black;
	margin-bottom: 10%;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	letter-spacing: 2px;
	
}

li:hover { 
  color: grey;
}


/* Styling the "Normal" message*/
.Normal {
    
    width: 100%;
    position:fixed;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color:black;
	margin-top: 5%;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
	
}

.textleft p {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-align: inherit;
	margin-right: 15%;
	margin-left:50%;
	line-height: 25px;
	padding-top: 15px;
	margin-top: 0;

}



.welcome {
	 
    font-family: "Roboto", sans-serif;
	font-weight: 200;
    font-size: 17px;
    color:black;
	margin-left: 57px;
	margin-bottom: 10%;
	padding-top: 15px;
	letter-spacing: 2px;
	color: grey;
	}


img {
	width: 35%;
	margin-bottom: 25px;
	max-width: 500px;
}

.currentpage {
	color: #BC2F8D;
	
}


/*responsiveness*/

@media only screen and (max-width : 768px ){
	.welcome {
		margin-bottom: 5%;
		text-align: center;
		font-size: 13px;
		margin-left: 0;

	}

	img {
	width: 80%;
	position: center fixed;
	margin-right: 10%;
	margin left: 10%;
	padding-top: none;
		padding-left:10%;
		padding-right: 10%;
}

	.textleft p {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: inherit;
	margin-left: 10%;
	margin-right: 10%;
		padding: none;
		
	
}

	ul {
		padding-left: 0;
		text-align: center;
	}

	
	li {
  float: none;
  display:inline-block;
  text-align: center;
margin-bottom: 0%;
	margin-top: 10%;
	font-size: 13px;
	font-weight: 300;
	
}
	
	.Normal {
		margin-top: 0;
	}	
	
	div.textleft {
	overflow: scroll;
	background: transparent;
	font-family: "Roboto", sans-serif;
	margin-right: 0;
	margin-left: 0;
	line-height: 25px;
	padding-top: 15px;
	font-size: 12px;
	height: 70%;
	position: fixed;
	margin-top: inherit;
		
	}

	
}